body{
    background-image: url("../img/Background.jpg");
    background-size: auto;
    opacity: 0.8;
}

.logo {
    width: 80px;
    align-content: center;
    margin-left: 39%;
}

.box {
    background: rgb(0,0,0);
    padding: 15px;
    border-radius: 20px;
}

input[type=date] {
  text-align: right;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}